<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/morgage.css">
    <title>Formulario de Contacto</title>

    <!-- Incluye solo uno de los siguientes, preferiblemente el CDN para mejor rendimiento -->
    <!-- <link href="/css/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="/css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</head>

<body class="bg-dark">
    <div class="container p-5">
        <div class="card mx-3 mt-n5 shadow-lg"
            style="border-radius: 10px; border-left: 8px #007bff solid; border-right: none; border-top: none; border-bottom: none;">
            <div class="card-body">
                <h3 class="text-primary mb-3" style="text-align: center;">Formulario de contacto</h3>

                <form action="" id="contactos" onsubmit="processContactForm(event)" method="get" target="_self">
                    <div class="row">
                        <div class="col">
                            <label for="name">Nombre</label>
                            <input class="form-control" type="text" id="name" name="name">
                        </div>

                        <div class="col">
                            <label for="lname">Apellido</label>
                            <input class="form-control" type="text" id="lname" name="lname">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="tele">Teléfono</label>
                            <input class="form-control" type="text" id="tele" name="tele">
                        </div>

                        <div class="col">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="ciudad">Ciudad</label>
                            <input class="form-control" type="text" id="ciudad" name="ciudad">
                        </div>
                        <div class="col">
                            <label for="pais">País</label>
                            <input class="form-control" type="text" id="pais" name="pais">
                        </div>
                    </div>

                    <br><br>
                    <div>
                        <button class="btn-primary" style="border-radius:0px;" type="submit"> Guardar</button>
                    </div>
                </form>
                <button class="btn-primary" style="border-radius: 0px;" type="button" onclick="window.location.href='../index.html'">Atras</button>
                <button class="btn-primary" style="border-radius: 0px;" type="button" onclick="listarContactos()">Listar</button>

                <div id="tablecontac" class="tableFixHead"></div>
                <div id="formContainer"></div>

                <script src="../js/contacto.js"></script>
            </div>
        </div>
    </div>
</body>

</html>